<h1> This is the secret page</h1>

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></a></li>

<p> You found me!</p>

<img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/17634425_10207749980101626_4809226068248615554_n.jpg?oh=8d3f212a8906b8e689fb334e58a98746&oe=5A4D1AFF">
